:root {
  color: white;
}
body {
  background-color: black;
}
#wrapper {
  width: 1199px;
  margin-right: auto;
  margin-left: auto;
  border: thin solid;
  font-family: Rockwell;
}

nav {
  width: 200px;
  min-height: 850px;
  float: left;
  text-align: center;
}
nav a {
  display: block;
  margin: 1em auto;
  padding: 1em;
  background-color: orange;
  border: 4px solid darkgrey;
  text-decoration: none;
  color: black;
  transition: 0.5s;
  border-radius: 4px;
  width: 60%;
}
nav a:hover {
  background-color: darkgrey;
  border: 4px solid orange;
  transition: 0.5s;
}
nav a:visited {
  color: white;
}
.active {
  background-color: paleturquoise;
}
.active:hover {
  border: 4px solid paleturquoise;
}
article {
  width: 998px;
  min-height: 850px;
  float: right;
  border-left: 1px solid white;
}
h1 {
  text-align: center;
  color: paleturquoise;
}
hr {
  width: 50%;
  height: 1px;
  background-color: orange;
}
.clear {
  clear: both;
}
